<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Sync the column "pontos_usados" between the sales_order and sales_order_grid tables -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns">
                <item name="pontos_usados" xsi:type="string">sales_order.pontos_usados</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_tracking_code" type="Vexpro\GerminiPay\Plugin\OrderTrackingCode"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_payment_code" type="Vexpro\GerminiPay\Plugin\OrderPaymentCode"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_payment_type" type="Vexpro\GerminiPay\Plugin\OrderPaymentType"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="pontos_usados_attribute" type="Vexpro\GerminiPay\Plugin\OrderGetPontos"/>
    </type>

</config>
