<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Vexpro\GerminiPay\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Vexpro\GerminiPay\Model\Session\Storage</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_sitef_usn" type="Vexpro\GerminiPay\Plugin\OrderGet"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_sitef_nit" type="Vexpro\GerminiPay\Plugin\OrderGetNit"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="pontos_usados_attribute" type="Vexpro\GerminiPay\Plugin\OrderGetPontos"/>
    </type>

    <type name="Vexpro\GerminiPay\Model\Api\Payment">
        <plugin name="respondCancel" type="Vexpro\GerminiPay\Plugin\CancelManagement" sortOrder="100" disabled="false"/>
    </type>

    <preference for="Vexpro\GerminiPay\Api\PaymentInterface" type="Vexpro\GerminiPay\Model\Api\Payment"/>

    <type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
        <arguments>
            <argument name="deserializers" xsi:type="array">
                <item name="application_x_www_form_urlencoded" xsi:type="array">
                    <item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
                    <item name="model" xsi:type="string">Vexpro\GerminiPay\Webapi\Rest\Request\Deserializer\XWwwFormUrlencoded</item>
                </item>
                <item name="application_json" xsi:type="array">
                    <item name="type" xsi:type="string">application/json</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
                </item>
                <item name="application_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_xhtml_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xhtml+xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="text_xml" xsi:type="array">
                    <item name="type" xsi:type="string">text/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
