<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!-- sales_order_payment_refund  vexpro_germinipay_service_cancel -->
    <!-- <event name="sales_order_payment_refund">
        <observer name="Vexpro_GerminiPay_CancelPay" instance="Vexpro\GerminiPay\Observer\CancelPay" />
    </event> -->
</config>
